<template>
  <div class="home">
    <calendar/>
  </div>
</template>

<script>
import calendar from '@/components/calendar.vue'

export default {
  name: 'home',
  components: {
    calendar
  }
}
</script>
