<template>
    
</template>

<script>
import moment from 'moment'

export default {
    data(){
        return {
            today: moment(),
            dataContext: moment(),
            days:['S','M','T','W','T','F','S']
        }
    },
    computed:{
        year: function(){
            return this.dataContext.format('Y');
        },
        month: function(){
            return this.dataContext.format('MMMM');
        },
        daysInMonth: function(){
            return this.dataContext.daysInMonth();
        },
        currentDate: function(){
            return this.dataContext.get('date');
        },
        firstDayOfMonth: function(){
            let currentDate = this.dataContext.get('date');
            let firstDay = moment(this.dataContext).subtract((currentDate - 1),'days');
            return firstDay;
        }
    }
}
</script>

<style>

</style>
